body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #0099ff;
  color: aliceblue;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cities-container {
  border-bottom: 1px solid gray;
}

.countries-container, .cities-container {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 98%;
  min-height: 42%;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countries-container .country, .cities-container .country {
  width: 150px;
}

.countries-container .country h3, .cities-container .country h3 {
  border-bottom: 1px solid #0099ff;
}

.countries-container .city:hover, .cities-container .city:hover {
  cursor: pointer;
}

.countries-container .city, .cities-container .city {
  height: 25px;
  padding: 5px;
}

.countries-container .city *, .cities-container .city * {
  position: relative;
  bottom: 15px;
  display: block;
}

.countries-container .country, .countries-container .city, .cities-container .country, .cities-container .city {
  border: solid 1px #0099ff;
  border-radius: 10px 10px;
  color: #0099ff;
  text-align: center;
  margin: 30px;
}

.countries-container {
  margin-top: 20px;
}

.juego {
  border: solid 1px gray;
  min-height: 300px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "juego juego juego mapa mapa" "juego juego juego mapa mapa" "datos datos datos datos datos";
}

.juego {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: juego;
}

.datos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: datos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#chartIntentos, #chartOcurrencias {
  width: 800px;
  height: 250px;
}

.mapa {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: mapa;
}

#mapid {
  min-height: 600px;
}

.button-area {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid 1px #0099ff;
  font-weight: bold;
  background-color: rgba(0, 217, 255, 0.274);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.button-area button {
  border: solid 1px #0099ff;
  border-radius: 10px 10px;
  color: #0099ff;
  background-color: #f7ecdf;
}

.button-area button:hover {
  background-color: rgba(0, 0, 0, 0.267);
}

.button-area button:active {
  background-color: black;
  color: white;
}

.button-area button:disabled {
  background-color: rgba(108, 108, 109, 0.548);
  color: rgba(35, 25, 182, 0.76);
  border-color: rgba(53, 45, 163, 0.849);
}
/*# sourceMappingURL=style.css.map */